* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.body {
	display: grid;
	grid-template-columns: 33% 66%;
	grid-template-areas: "sidebar main";
}

/*
 * Sidebar
 */
.sidebar {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 25% 35% 10%;
	grid-template-areas:
		"avatar"
		"contact"
		"about-me"
		"hobbies";
	background-color: #fdd800;
	color: #424242;
}

.avatar {
	display: block;
	margin: 3em auto auto;
	border-radius: 50%;
	border: 3px solid rgba(169, 169, 169, 0.6);
}

.bio-info {
	width: 100%;
}

.references-container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: auto;
}

.sidebar-heading {
	text-align: center;
	text-transform: uppercase;
	background-color: #424242;
	color: #fdd800;
	width: 100%;
	font-size: 1.3em;
}

.bio-contact-container {
	width: 90%;
	margin: auto 1.5em;
}

.bio-about-container {
	width: 90%;
	margin: auto 1.5em;
}

.contact-subheading {
	font-size: 1em;
	font-weight: normal;
}

.contact-paragraph {
	margin-top: 0;
}

.icon-container {
	padding-top: 3em;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: 100%;
}

.hobby-icon {
	align-self: center;
	justify-self: center;
}

/*
 * Main
 */
.main {
	width: 90%;
	margin: auto;
}

.main-heading {
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 1.5em;
}

.heading-first-name {
	color: #fdd800;
	font-weight: bold;
}

.heading-last-name {
	font-weight: 300;
}

.main-heading-subtitle {
	font-size: 2em;
	color: #424242;
}

/*
 * From https://www.steckinsights.com/shorten-length-border-bottom-pure-css/
 */
.main-heading-subtitle:after {
	content: "";
	display: block;
	margin: 0 0 2.7em;
	width: 45%;
	padding-top: 20px;
	border-bottom: 2px solid #fdd800;
}

.main {
	color: #424242;
}

.main-article-heading {
	color: black;
	font-size: 2em;
	text-transform: uppercase;
}

.main-article-heading-icon {
	color: #fdd800;
	margin: auto 0.8em 0 auto;
}

.main-article-heading:after {
	content: "";
	display: block;
	margin: 0 0;
	width: 100%;
	padding-top: 20px;
	border-bottom: 2px solid #fdd800;
}

.article {
	display: grid;
	grid-template-columns: 5% 20% 75%;
	grid-template-rows: 25% 75%;
	grid-template-areas:
		"icon date body"
		". . body";
}

.article-icon {
	grid-area: icon;
	justify-self: center;
	align-self: center;
	color: #fdd800;
}

.article-date {
	grid-area: date;
}

.article-body {
	grid-area: body;
}

.article-date > p:nth-child(2) {
	margin-top: 0;
}

.article-body-subheading {
	font-size: 1.3em;
	text-transform: uppercase;
}

.article-body-subtitle {
	margin-top: 0;
}

.references-container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: auto;
	padding-bottom: 2em;
}

.reference-name {
	text-transform: uppercase;
}

.reference-info {
	margin-top: 0;
}
